{% set 

	gallery = {
  modif: "",
  count: "5",
  items: [
  {src: "photo_1.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_2.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_3.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_4.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_5.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_6.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_7.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_8.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_9.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_10.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_11.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_12.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_13.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_14.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_15.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
    {src: "photo_1.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_2.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_3.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_4.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_5.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_6.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_7.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_8.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_9.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_10.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_11.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_12.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_13.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_14.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_15.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
    {src: "photo_1.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_2.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_3.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_4.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_5.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_6.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_7.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_8.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_9.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_10.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_11.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_12.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_13.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_14.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"},
  {src: "photo_15.jpg" , size: "lg", bsize: "cover", bposition: "50% 50%"}

  ]

	}
%}



