<!-- begin header-public -->
<header class='header-public'>

  <!-- begin container -->
  <div class='container'>

    <!-- begin header-public__inner -->
    <div class='header-public__inner'>

  
<!-- begin navigation -->
<nav class='nav'>

<ul class="nav__list">

{% for t in pages %}

{% if t.active %}
	<li class="nav__item is-active"><a href="{{t.link}}" class="nav__link">{{t.text}}</a></li>

{% else %}
	<li class="nav__item"><a href="{{t.link}}" class="nav__link">{{t.text}}</a></li>
{% endif %}

{% endfor %}
</ul>	

</nav>
<!-- end navigation -->


    </div>
    <!-- end header-public__inner -->


  </div>
  <!-- end container -->




</header>
<!-- end header-public -->
