<!-- begin header-public -->
<header class='header-public'>

  <!-- begin container -->
  <div class='container'>

    <!-- begin header-public__inner -->
    <div class='header-public__inner'>

      <!-- begin header-public__item -->
      <div class='header-public__item'>

        <!-- begin public-logo -->
        <div class='public-logo'>

   
        </div>
        <!-- end public-logo -->


      </div>
      <!-- end header-public__item -->

      <!-- begin header-public__item -->
    <div class='header-public__item header-public__item_heading'>

        <!-- begin public-name -->
        <div class='public-name'>
          <h1 class="public-name__heading">{{ header.heading }}</h1>
        </div>
        <!-- end public-name -->


      </div>
      <!-- end header-public__item -->

      <!-- begin header-public__item -->
      <div class='header-public__item'>

 

      </div>
      <!-- end header-public__item -->

    </div>
    <!-- end header-public__inner -->


  </div>
  <!-- end container -->




</header>
<!-- end header-public -->
