<!-- begin powered-by -->
<div class='powered-by cs-yoyo'>

  <!-- begin powered-by__text -->
  <div class='powered-by__text'>
    <span>Powered by</span>
  </div>
  <!-- end powered-by__text -->

<a href="#" target="_blank" class="powered-by__logo">
  <!-- begin powered-by__img -->
  <div class='powered-by__img is-animated'>
    
  </div>
  <!-- end powered-by__img -->


  <!-- begin powered-by__title -->
  <p class='powered-by__title'>
Social Board
  </p>
  <!-- end powered-by__title -->

</a>


</div>
<!-- end powered-by -->



<script type="text/html" id="powered-by-full">
<div class="powered-by powered-by_full cs-yoyo">
                <!-- begin powered-by__text -->
                <div class="powered-by__text powered-by__text_full"> <span>Powered by</span> </div>
                <!-- end powered-by__text -->
                <!-- begin powered-by__img -->
<a href="#" target="_blank" class="powered-by__logo powered-by__logo_full">
                <div class="powered-by__img powered-by__img_full is-animated"> </div>
                <!-- end powered-by__img -->
                <!-- begin powered-by__title -->
                <p class="powered-by__title powered-by__title_full"> Social Board </p>
                <!-- end powered-by__title -->
</a>
              </div>
</script>